.mt_layout {
	min-width: 3.2rem;
	/*border: 1px solid black;*/
	margin: 0 auto;
	position: relative;
}

.swiper-container {
	width: 100%;
	/*max-width: 8rem;*/
	/*margin: 20px auto;*/
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img{
	width: 100%;

height: 100%;
	
}
.tab-wrapper {
	
	/*max-width: 8rem;*/
	margin: 0 auto;
	font-size: .16rem;
    background: #fff;
    border-top-left-radius: .06rem;
    border-top-right-radius: .06rem;
    /*margin: 0  auto;*/
    border: 1px solid #f3f3f3;
    border-radius: .1rem;
    z-index: 9999;
    position: relative;
    top: -.6rem;
   
}
.tab-header {
	text-align: center;
    border-bottom: 1px solid #f3f3f3;
    display: -webkit-box;
    display: flex;
    height: .55rem;
    line-height: .55rem;
    font-size: .16rem;
    color: #333;
    position: relative;
    margin: 0 .2rem;
  
}
.tab-header-left{
	width: 100%;
	flex: 1;
	
	
}
.tab-header-right{
	width: 100%;
	flex: 1;

}
.tab-header:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 20%;
    height: 60%;
    width: 1px;
    border-left: 1px solid #f3f3f3;
}
.tab-row {
    border-bottom: 1px solid #f3f3f3;
    margin: 0 auto;
  width: 100%;
    line-height: .55rem;
    /* display: -webkit-box; */
    display: flex;
    font-size: .16rem;
    color: #333;
    position: relative;
}
.tab-row-header {
    display: block;
    width: 1rem;
    margin-right: .16rem;
    font-size: .15rem;
    color: #999;
}

.tab-row:after {
    margin: -.02rem .06rem 0 0;
        position: absolute;
    right: .24rem;
    top: 50%;
    display: block;
    content: '';
    width: .16rem;
    height: .16rem;
    -webkit-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
    border-left: .04rem solid #d9d9d9;
    border-bottom: .04rem solid #d9d9d9;

}

.tab-date {
    height: .75rem;
    line-height: .75rem;
}
.tab-date-content{
	line-height: 1;
    padding: .12rem 0;
    -webkit-box-flex: 1;
    flex: 1;
}
.tab-date-content01{
	line-height: .25rem;
}
.tab-date-date {
    display: inline-block;
    padding-right: .2rem;
}
.tab-date-desc {
    font-size: .12rem;
    color: #999;
    display: inline-block;
    margin-right: .1rem;
}
.tab-search {
    color: #ccc;
    position: relative;
}
.tab-btn {
    padding: .16rem .24rem;
}
.btn-green {
	   display: block;
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    color: #ec5330;
    
    border-radius: .06rem;
    border: 1px solid #ddd8ce;
    font-size: .17rem;
    background: #2bb2a3;
    border-color: #2bb2a3;
    color: #fff;
}
footer{
	margin: 0 auto;
	position: absolute;
    bottom: -1.5rem;
    left: 0;
    width: 100%;
    padding: .2rem;
    font-size: .24rem;
		/*max-width: 8rem;*/
	
	
	
	
	
	
	
}
.footer-btn-warpper{
width: 100%;

}
.footer-btn-login{
	border: 1px solid #2bb2a3;
    color: #2bb2a3;
    display: block; 
	height: .3rem;
    line-height: .3rem;
    font-size: .14rem;
    width: .6rem;
    display: inline-block;
    text-align: center;
}

.footer-btn-reg{
	border: 1px solid #2bb2a3;
    color: #2bb2a3;
    display: block; 
	height: .3rem;
    line-height: .3rem;
    font-size: .14rem;
    width: .6rem;
    display: inline-block;
    text-align: center;
}
.footer-links{
	font-size: .12rem;
	display: flex;
    margin: .24rem 0;
}
.footer-links li {
	 display: block;
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
    
    border-right: 1px solid #e5e5e5;

}
.footer-links li a{
	color: #06c1ae;
}
.footer-friend{
	font-size: .12rem;
	 display: block;
    width: 100%;
    text-align: center;
    margin: .12rem 0;
}
.footer-friend a{
	color: #06c1ae;
}
.footer-icp{
    font-size: .12rem;
	
display: block;
    text-align: center;
    margin: .12rem 0;
    position: relative;
}

.footer-icp .footer-icp-text{
	background: #f0efed;
    display: inline-block;
    padding: 0 .15rem;
    color: #999;

}
.footer-icp-text a{
	color: #999;
}
.footer-icp :after{
	
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: .01rem;
    background: #999;
    left: 0;
    top: 50%;
    z-index: -1;
}




